.nav-link {
  /* padding: 1em; */
  color: 'inherit';
}

.nav-link.active{
  /* padding: 1em; */
  color: 'inherit';
  border-radius: 10px;
  border-color: black;
  border: 1px solid;
}

.nav-link :hover{
  /* padding: 1em; */
  color: 'inherit';
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}