.nav-link {
  /* padding: 1em; */
  color: 'inherit';
  border-radius: 10px;
  border-color: black;
  border: 1px solid;
}
.nav-linka{
  /* padding: 1em; */
  color: 'inherit';
  border-radius: 10px;
  border-color: gray;
  background-color: rgb(255, 127, 80, 0.5);
  border: 1px solid;
}