.nav-link {
  /* padding: 1em; */
  color: "inherit";
  transition: all 0.3s ease-in;
}

.nav-link.active {
  /* padding: 1em; */
  color: "inherit";
  border-radius: 10px;
  border-color: rgba(0, 0, 0);
  border: 2px solid;
}

.nav-link :hover {
  /* padding: 1em; */
  color: "inherit";
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}
